.sliderContainer {
  width: 250px;
}
.minutesLabel {
  font-family: "SpecilElite-Regular" !important;
  float: left;
}
.inputContainer {
  font-family: "SpecilElite-Regular" !important;
  width: 40px;
}
